<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Validacion</title>


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<img alt="Universidad de la Cuenca del Plata" src="logo.png" class="rounded">
			<h3>
				Registro completado
			</h3>
			<p>
				Su cuenta se creo correctamente
			</p>
			<div class="row">
				<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							 
							<label for="email">
								Email:
							</label>
						</div>
						<div class="form-group">
							 
							<label for="motivo">
								Motivo:
							</label>
						</div>

						<div class="form-group">
							 
							<label for="fecha">
								Fecha:
							</label>
							<time>2020-06</time>
						</div>
					</form>
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>