{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Validacion</title>


    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	
  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<img alt="Universidad de la Cuenca del Plata" src="{{ url_for('static', filename='logo.png') }}" class="rounded">
			<h3>
				Validacion de documentacion
			</h3>
			<div class="row">
				<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							 
							<label for="email">
								Email: {{ email }}
							</label>
						</div>
						<div class="form-group">
							 
							<label for="motivo">
								Motivo: {{ motivo }}
							</label>
						</div>

						<div class="form-group">
							 
							<label for="fecha">
								Fecha: {{ fecha }}
							</label>
						</div>
					</form>
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>
</div>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
{% endblock %}